body{
  display: flex;
  background-image:linear-gradient(10deg, rgba(226, 68, 28, 0.5),rgba(226, 68, 28, 0.5)), url("../images/bck.jpg");
background-repeat: repeat;
background-size: cover;
background-position: center;
background-origin: border-box;
height: 100vh;
width: 100%;
margin: 0;
 padding: 0;
justify-content: center;

text-align: center;

    
}

.contact{
 
  height: 90%;
  width: 700px;
  display: flex;
}
.dev{
place-self: center;
text-align: left;
}
h2{
  color:white ;
  font-size: 35px;
  font-family: poppins;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 10px;

}
.p{
  color:white;
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 20px;
  margin: auto;
  text-align: left;
}

.second{
  height: 90%;
}
.free{
  color: rgb(255, 255, 255);
  background-color: rgb(37, 37, 172);
  font-size: 18px;
  margin: 10px 0 10px 0;
  padding: 15px 20px;
  border-radius: 8px;
  width: 360px;
  
  
}
form{
  background-color: white;
  width: 400px;
  height: 80%;
  color: gray;
  font-size: 25px;
 padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0px;
padding-right: 0px;
  border-radius: 8px;
  
  justify-content: center;
  align-items: center;
}

input {
  width: 80%;
  display: inline-block;
  margin: 15px 0;
 padding:12px 20px;
border:1px solid;
 border-radius: 5px;
 box-sizing: border-box;
 border-radius: 4px;
 line-height: 1.8;
}
.btn{
  padding: 15px;
  background-color: rgb(44, 184, 98);
  color: white;
  font-size: 16px;
  border: none;
  margin-top: 15px;
  border-radius: 8px;
  width: 300px;
}
.click{
color: gray;
font-size: 12px;
padding-right: 30px;
padding-left: 30px;
margin-left: 25px;
margin-right: 25px;
}

@media screen and (max-width: 700px) {
  .contact{
    height: 100vh;
    width: 250px;
    margin-top: 10px;
   margin-bottom: 20px;
   display: flex;
   flex-direction: column;
  }
 
  h2{
    color:white ;
    font-size: 25px;
    font-family: poppins;
    margin-bottom: 5px;
    text-align: center;
  
  }
  .p{
    color:white;
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0;
    text-align: center;
    place-content: center;
    
    line-height: 2;
  }
  .free{
    color: white;
    background-color: rgb(37, 37, 172);
    font-size: 14px;
   margin-top: 5px;
   margin-left: 0;
   margin-right: 0;
   margin-bottom: 15px;
    padding: 15px 20px;
    border-radius: 8px;
    
    width: 180px;
    height: 30px;
    
  }
  .form{

    background-color:white;
    width: 230px;
    height: 350px;
    color: gray;
   
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 0px;
  padding-right: 0px;
    border-radius: 8px;
 
   justify-content: center;
    align-items: center;
    place-content: center;
    place-items: center;
  }

  .input{
    margin: 0px;
   padding:10px 10px;
  border:gray solid;
   border-radius: 5px;
   font-size: 12px;
  }
  .btn{
    padding: 10px;
    background-color: rgb(44, 184, 98);
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 8px;
    width: 200px;
  }
  .click{
  color: gray;
  font-size: 10px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  
  }
  }